@font-face { font-family: 'SF Pro Display'; src: url(../../../fonts/sf.ttf); }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'SF Pro Display'; }

:root.light { --bg-color: #ffffff; --accent-color: #04d361; --accent-color-hover: #66e682; --bold-bg-color: #ECF1F8; --text-color: #000; --alt-text-color: #1d1c1c; --title-color: #545454; --shadow-color: #0005; }

:root.dark { --bg-color: #121212; --accent-color: #8257E5; --accent-color-hover: #9c7ce6; --bold-bg-color: #2a2438; --text-color: #ffffff; --alt-text-color: #e1e1e1; --title-color: #beb7b7; --shadow-color: #fff2; }

#navbar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100vh; width: 4vw; background-color: var(--bg-color); -webkit-transition: background 0.5s; transition: background 0.5s; }

#navbar img { width: 60%; margin-top: 3rem; }

#header { width: 100%; height: 5%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; background-color: var(--accent-color); -webkit-transition: background 0.5s; transition: background 0.5s; padding: 4rem; }

#header #nav-logo { font-size: 2em; font-weight: bold; color: var(--text-color); text-decoration: none; }

#header #nav-logo:visited, #header #nav-logo:active { color: var(--text-color); }

#header #themes-container { width: 50px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#header #themes-container .fa-sun, #header #themes-container .fa-moon { font-size: 2.5em; cursor: pointer; }

#header #themes-container .fa-sun { display: block; color: #ebc311; }

#header #themes-container .fa-sun.hide { display: none; }

#header #themes-container .fa-moon { display: block; color: #ebaa11; }

#header #themes-container .fa-moon.hide { display: none; }

@media screen and (max-width: 1080px) { #header { height: 7%; } }

body { background-color: var(--bold-bg-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-transition: background 0.5s; transition: background 0.5s; }

body #container { height: 100vh; width: 97vw; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

body #container #content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 5rem 0 0 5rem; }

body #container #content section { font-size: 2.4rem; font-family: 'SF Pro Display'; font-weight: bold; color: var(--title-color); height: 90%; width: 20%; margin-right: 5%; }

body #container #content section .section-label { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

body #container #content section .section-label #add-card { width: 3rem; height: 3rem; cursor: pointer; border: none; border-radius: 1rem; color: white; background-color: var(--accent-color); -webkit-transition: background 0.5s; transition: background 0.5s; }

body #container #content section .section-label #add-card:hover { background-color: var(--accent-color-hover); }
/*# sourceMappingURL=app.css.map */