@font-face { font-family: 'SF Pro Display'; src: url(../../../fonts/sf.ttf); }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'SF Pro Display'; }

:root.light { --bg-color: #ffffff; --app-bg-color: #d5dfec; --accent-color: #04d361; --accent-color-hover: #66e682; --bold-bg-color: #ecf1f8; --text-color: #000; --alt-text-color: #1d1c1c; --title-color: #545454; --warning-bg-color: #c84444c7; --social-media-bg-color-hover: #e7e5e5; --shadow-color: #0005; --status-no-debt: #e7f82d; --status-to-be-paid: #ff3737; --status-paid-off: #04d361; --status-archived: #41413f; }

:root.dark { --bg-color: #121212; --app-bg-color: #323232; --accent-color: #8257e5; --accent-color-hover: #9c7ce6; --bold-bg-color: #2a2438; --text-color: #ffffff; --alt-text-color: #e1e1e1; --title-color: #beb7b7; --warning-bg-color: #491919c7; --social-media-bg-color-hover: #3f3f3fd8; --shadow-color: #fff5; --status-no-debt: #e7f82d; --status-to-be-paid: #ff3737; --status-paid-off: #04d361; --status-archived: #41413f; }

#navbar { width: 100%; height: 7.5vh; border-bottom: 2px solid var(--shadow-color); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#navbar #nav-container { width: 60%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#navbar #nav-container .nav-logo { font-size: 2em; font-weight: bold; color: var(--text-color); text-decoration: none; }

#navbar #nav-container .nav-logo:visited, #navbar #nav-container .nav-logo:active { color: var(--text-color); }

#navbar #nav-container .nav-logo.mobile { display: none; }

#navbar #nav-container #nav-content-container { width: 250px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#navbar #nav-container #nav-content-container .fa-sun, #navbar #nav-container #nav-content-container .fa-moon { font-size: 2.25em; cursor: pointer; }

#navbar #nav-container #nav-content-container .fa-sun { display: block; color: #ece141; }

#navbar #nav-container #nav-content-container .fa-sun.hide { display: none; }

#navbar #nav-container #nav-content-container .fa-moon { display: block; color: #ebaa11; }

#navbar #nav-container #nav-content-container .fa-moon.hide { display: none; }

#navbar #nav-container #nav-content-container #nav-signup-anchor, #navbar #nav-container #nav-content-container #nav-login-anchor { width: 90px; height: 40px; border-radius: 5px; -webkit-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; text-decoration: none; font-family: 'SF Pro Display'; font-size: 1.5em; font-weight: bold; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#navbar #nav-container #nav-content-container #nav-signup-anchor { color: var(--text-color); border: 1px solid var(--accent-color); }

#navbar #nav-container #nav-content-container #nav-signup-anchor:hover { background: var(--accent-color-hover); color: #fff; }

#navbar #nav-container #nav-content-container #nav-login-anchor { background: var(--accent-color); color: #fff; }

#navbar #nav-container #nav-content-container #nav-login-anchor:hover { background: var(--accent-color-hover); }

@media screen and (max-width: 768px) { #nav-container, #nav-content-container { width: 100% !important; }
  .nav-logo.mobile { display: block !important; }
  .nav-logo.desktop, .theme-button { display: none !important; } }

body { background: var(--bg-color); -webkit-transition: background 0.25s; transition: background 0.25s; }

body #container { width: 100%; height: 90vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container .column { width: 30%; height: 100%; }

body #container .about, body #container .continue { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container .about #container-logo { font-size: 3em; color: var(--accent-color); }

body #container .about #description { width: 70%; font-size: 2em; color: var(--alt-text-color); text-align: center; margin-top: 20px; }

body #container .about #description #open-source-anchor { text-decoration: none; color: var(--accent-color); -webkit-transition: color 0.5s; transition: color 0.5s; }

body #container .about #description #open-source-anchor:visited { color: var(--accent-color); }

body #container .about #description #open-source-anchor:hover, body #container .about #description #open-source-anchor:active { color: var(--accent-color-hover); }

body #container .about .fa-github { font-size: 3.5em; color: var(--alt-text-color); margin-top: 20px; }

body #container .continue #signup-label { width: 60%; text-align: center; color: var(--alt-text-color); font-size: 1.7em; }

body #container .continue #signup-label b { width: 150%; height: 150%; background: var(--bold-bg-color); color: var(--accent-color); border-radius: 3px; }

body #container .continue #email-input-container { width: 60%; height: 50px; color: var(--text-color); background: none; border: 2px solid var(--shadow-color); border-radius: 7.5px; font-size: 1.7em; padding: 5px; margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-transition: border 0.5s; transition: border 0.5s; }

body #container .continue #email-input-container .fa-envelope { color: var(--shadow-color); width: 15%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container .continue #email-input-container #signup-email { width: 85%; height: 75%; color: var(--text-color); border: none; outline: none; background: none; margin-right: 15px; font-family: 'SF Pro Display'; font-size: 1em; }

body #container .continue #continue-to-signup-anchor { width: 60%; height: 50px; color: #fff; background: var(--accent-color); border-radius: 7.5px; font-size: 1.8em; font-family: 'SF Pro Display'; font-weight: bold; text-decoration: none; margin-top: 10px; cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: background 0.5s; transition: background 0.5s; }

body #container .continue #continue-to-signup-anchor:hover { background: var(--accent-color-hover); }

body #container .continue #continue-to-signup-anchor .fa-chevron-right { margin-left: 10px; }

body #container .continue #already-have-an-account { margin-top: 10px; color: #525252; font-family: 'SF Pro Display'; font-size: 1.5em; }

body #container .continue #already-have-an-account a { color: #525252; margin-left: 5px; -webkit-transition: color 0.5s; transition: color 0.5s; }

body #container .continue #already-have-an-account a:visited { color: #525252; }

body #container .continue #already-have-an-account a:hover, body #container .continue #already-have-an-account a:active { color: var(--accent-color-hover); }

@media screen and (max-width: 1440px) { #nav-container { width: 80% !important; }
  .column { width: 40% !important; } }

@media screen and (max-width: 1024px) { #nav-container { width: 90% !important; }
  #container { height: 185vh !important; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
  .column.continue, .column.about { width: 90% !important; height: 92.5vh !important; }
  #signup-label, #email-input-container, #continue-to-signup-anchor { width: 50% !important; } }

@media screen and (max-width: 512px) { #description { width: 100% !important; }
  #signup-label, #email-input-container, #continue-to-signup-anchor { width: 90% !important; } }
/*# sourceMappingURL=home.css.map */