@font-face { font-family: 'SF Pro Display'; src: url(../../../fonts/sf.ttf); }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'SF Pro Display'; }

#home-navbar { width: 100%; height: 7.5vh; border-bottom: 2px solid #0002; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#home-navbar #nav-container { width: 60%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#home-navbar #nav-container #nav-logo { font-size: 2em; }

#home-navbar #nav-container #login-container { width: 200px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#home-navbar #nav-container #login-container #nav-signup-anchor, #home-navbar #nav-container #login-container #nav-login-anchor { width: 90px; height: 40px; border-radius: 5px; -webkit-transition: background 0.5s, color 0.5s; transition: background 0.5s, color 0.5s; text-decoration: none; font-family: 'SF Pro Display'; font-size: 14px; font-weight: bold; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#home-navbar #nav-container #login-container #nav-signup-anchor { color: #000; border: 1px solid #04d361; }

#home-navbar #nav-container #login-container #nav-signup-anchor:hover { background: #66e682; color: #fff; }

#home-navbar #nav-container #login-container #nav-login-anchor { background: #04d361; color: #fff; }

#home-navbar #nav-container #login-container #nav-login-anchor:hover { background: #66e682; }

@media screen and (max-width: 768px) { #nav-container { -webkit-box-pack: center !important; -ms-flex-pack: center !important; justify-content: center !important; }
  #login-container { display: none !important; } }

#container { width: 100%; height: 92.5vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#container .column { width: 30%; height: 100%; }

#container .about, #container .continue { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#container .about #container-logo { font-size: 3em; color: #04d361; }

#container .about #description { width: 70%; font-size: 2em; color: #1d1c1c; text-align: center; margin-top: 20px; }

#container .continue #signup-label { width: 40%; text-align: center; color: #1d1c1c; font-size: 1.7em; }

#container .continue #signup-label b { width: 150%; height: 150%; background: #d6ffe8; color: #04d361; border-radius: 3px; }

#container .continue #email-input-container { width: 60%; height: 50px; color: #000; background: none; border: 2px solid #0004; border-radius: 7.5px; font-size: 18px; padding: 5px; margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-transition: border 0.5s; transition: border 0.5s; }

#container .continue #email-input-container .fa-envelope { color: #0006; margin-left: 15px; }

#container .continue #email-input-container #signup-email { width: 80%; height: 75%; color: #000; border: none; outline: none; background: none; margin-left: 15px; margin-right: 15px; font-family: 'SF Pro Display'; font-size: 16px; }

#container .continue #continue-to-signup-anchor { width: 60%; height: 50px; color: #fff; background: #04d361; border-radius: 7.5px; font-size: 1.8em; font-family: 'SF Pro Display'; font-weight: bold; text-decoration: none; margin-top: 10px; cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-transition: background 0.5s; transition: background 0.5s; }

#container .continue #continue-to-signup-anchor:hover { background: #66e682; }

#container .continue #continue-to-signup-anchor .fa-chevron-right { margin-left: 10px; }

#container .continue #already-have-an-account { margin-top: 10px; color: #525252; font-family: 'SF Pro Display'; font-size: 1.5em; }

#container .continue #already-have-an-account a { color: #525252; margin-left: 5px; -webkit-transition: color 0.5s; transition: color 0.5s; }

#container .continue #already-have-an-account a:visited { color: #0004; }

#container .continue #already-have-an-account a:hover, #container .continue #already-have-an-account a:active { color: #66e682; }

@media screen and (max-width: 1440px) { #nav-container { width: 80% !important; }
  .column { width: 40% !important; } }

@media screen and (max-width: 1024px) { #nav-container { width: 90% !important; }
  #container { height: 185vh; -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
  .column { width: 90% !important; height: 92.5vh !important; } }
/*# sourceMappingURL=home.css.map */