@font-face { font-family: 'SF Pro Display'; src: url(../../../fonts/sf.ttf); }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

html { height: 100%; font-size: 62.5%; }

body { font-family: 'SF Pro Display'; }

:root.light { --bg-color: #ffffff; --app-bg-color: #d5dfec; --accent-color: #04d361; --accent-color-hover: #66e682; --bold-bg-color: #ecf1f8; --text-color: #000; --alt-text-color: #1d1c1c; --title-color: #545454; --warning-bg-color: #c84444c7; --social-media-bg-color-hover: #e7e5e5; --shadow-color: #0005; --status-no-debt: #e7f82d; --status-to-be-paid: #ff3737; --status-paid-off: #04d361; --status-archived: #41413f; }

:root.dark { --bg-color: #121212; --app-bg-color: #323232; --accent-color: #8257e5; --accent-color-hover: #9c7ce6; --bold-bg-color: #2a2438; --text-color: #ffffff; --alt-text-color: #e1e1e1; --title-color: #beb7b7; --warning-bg-color: #491919c7; --social-media-bg-color-hover: #3f3f3fd8; --shadow-color: #fff5; }

body { background: var(--app-bg-color); -webkit-transition: background 0.25s; transition: background 0.25s; overflow: hidden; }

body #container { width: 100%; height: 92.5vh; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container .circle { position: absolute; width: 40rem; height: 40rem; background: var(--accent-color); border-radius: 50%; }

body #container #top { top: -10rem; right: -10rem; }

body #container #bottom { bottom: -30rem; left: -10rem; }

body #container #card { width: 42.5vw; height: 75vh; border-radius: 1em; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: var(--bg-color); }

body #container #card #login-container { min-width: 32.5rem; height: 65vh; max-width: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container #card #login-container #warning { width: 100%; height: 7rem; background: var(--warning-bg-color); border: 0.2rem solid #ee5555; border-radius: 7.5px; margin-bottom: 2rem; display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #ffffff; font-size: 1.5em; font-family: 'SF Pro Display'; font-weight: bold; text-align: center; }

body #container #card #login-container #warning.show { display: -webkit-box; display: -ms-flexbox; display: flex; }

body #container #card #login-container #warning p { width: 75%; }

body #container #card #login-container #warning a { color: #ffffff; }

body #container #card #login-container #logo { font-size: 5em; font-family: 'SF Pro Display'; font-weight: bold; text-decoration: none; color: var(--accent-color); }

body #container #card #login-container #logo:active, body #container #card #login-container #logo:visited { color: var(--accent-color); }

body #container #card #login-container #login-form { width: 100%; height: 40%; min-height: 20rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

body #container #card #login-container #login-form .input-label { width: 100%; font-size: 1.5em; font-family: 'SF Pro Display'; margin-top: 1em; color: var(--shadow-color); }

body #container #card #login-container #login-form .text-input-container { width: 100%; height: 5rem; min-height: 50px; color: var(--text-color); background: none; border: 0.2rem solid var(--shadow-color); border-radius: 0.75rem; font-size: 1.7em; padding: 0.5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-pack: distribute; justify-content: space-around; -webkit-transition: border 0.5s; transition: border 0.5s; }

body #container #card #login-container #login-form .text-input-container .separator { width: 2px; height: 60%; border-radius: 10px; background: var(--shadow-color); }

body #container #card #login-container #login-form .text-input-container .fa-envelope, body #container #card #login-container #login-form .text-input-container .fa-key { color: var(--shadow-color); width: 15%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

body #container #card #login-container #login-form .text-input-container #login-email, body #container #card #login-container #login-form .text-input-container #login-password { width: 85%; height: 75%; color: var(--text-color); border: none; outline: none; background: none; margin-left: 1rem; margin-right: 1.5rem; font-family: 'SF Pro Display'; font-size: 1em; }

body #container #card #login-container #login-form #login-submit { width: 100%; height: 5rem; min-height: 50px; border: none; outline: none; border-radius: 7.5px; -webkit-transition: background 0.5s; transition: background 0.5s; background: var(--accent-color); color: #ffffff; font-size: 1.8em; font-family: 'SF Pro Display'; font-weight: bold; margin-top: 1rem; cursor: pointer; }

body #container #card #login-container #login-form #login-submit:hover { background: var(--accent-color-hover); }

body #container #card #login-container #login-form #login-submit .fa-sign-in-alt { margin-left: 0.5rem; }

body #container #card #login-container #login-form #login-submit .fa-spinner { -webkit-animation: spin 5s infinite linear; animation: spin 5s infinite linear; font-size: 1.5em; }

@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg); } }

@keyframes spin { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(1080deg); transform: rotate(1080deg); } }

body #container #card #login-container #or { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 1em; }

body #container #card #login-container #or .or-line { width: 42%; height: 2px; background: var(--shadow-color); }

body #container #card #login-container #or p { color: #525252; font-size: 1.5em; font-family: 'SF Pro Display'; margin-left: 10px; margin-right: 10px; }

body #container #card #dont-have-an-account-yet { margin-top: 1rem; color: #525252; font-family: 'SF Pro Display'; font-size: 1.5em; }

body #container #card #dont-have-an-account-yet a { color: #525252; margin-left: 0.5rem; -webkit-transition: color 0.5s; transition: color 0.5s; }

body #container #card #dont-have-an-account-yet a:visited { color: #525252; }

body #container #card #dont-have-an-account-yet a:hover, body #container #card #dont-have-an-account-yet a:active { color: var(--accent-color-hover); }
/*# sourceMappingURL=login.css.map */