<div class="card-modal">
  <div class="modal-content"> 
    <div id="close">
      <i class="fas fa-times close-modal"></i>
    </div>
    <section class="header">
      <h1>Jantar de Terça</h1>
    </section>
    <section class="status">
      <div class="create-field">
        <i class="far fa-clock"></i>
        <p>Create</p>
      </div>
      <div class="status-field">
        <i class="fas fa-stream"></i>
        <p>Status</p>
      </div>
      <div class="people-field">
        <i class="fas fa-users"></i>
        <p>People</p> 
        <div class="people">
          <img src="https://via.placeholder.com/45x45" alt="User Image">
          <img src="https://via.placeholder.com/45x45" alt="User Image">
        </div>
        <button id="add-user">+</button>
      </div>
    </section>
    <div class="new">
      <button id="new-bill">
        + novo
      </button>
    </div>
    <section class="content">
      <table id="data-table">
        <thead>
          <tr>
            <th></th>
            <th>Emprestou</th>
            <th>Para</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="user">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <p>/Gabriel</p>
            </td>
            <td class="lend">
              R$ 1000,00
            </td>
            <td class="had-to-pay">
              <img class="had-to-pay" src="https://via.placeholder.com/45x45" alt="User Image">
              <img class="had-to-pay" src="https://via.placeholder.com/45x45" alt="User Image">
            </td>
          </tr>
          <tr>
            <td class="user">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <p>/Gabriel</p>
            </td>
            <td class="lend">
              R$ 1000,00
            </td>
            <td class="had-to-pay">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>