<div class="card-modal active">
  <div class="modal-content"> 
    <section class="header">
      <h1>Jantar de Terça</h1>
      <button class="close-modal">
        <i class="fas fa-times"></i>
      </button>
    </section>
    <section class="status">

    </section>
    <section class="content">
      <table id="data-table">
        <thead>
          <tr>
            <th></th>
            <th>Emprestou</th>
            <th>Para</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="user">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <p>/Gabriel</p>
            </td>
            <td class="lend">
              R$ 1000,00
            </td>
            <td class="had-to-pay">
              <img class="had-to-pay" src="https://via.placeholder.com/45x45" alt="User Image">
              <img class="had-to-pay" src="https://via.placeholder.com/45x45" alt="User Image">
            </td>
          </tr>
          <tr>
            <td class="user">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <p>/Gabriel</p>
            </td>
            <td class="lend">
              R$ 1000,00
            </td>
            <td class="had-to-pay">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
              <img src="https://via.placeholder.com/45x45" alt="User Image">
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</div>