@import '../global/global';
@import '../global/theme';
@import 'nav';

body {
  background: var(--bg-color);

  transition: background 0.25s;

  #container {
    width: 100%;
    height: 90vh;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    .column {
      width: 30%;
      height: 100%;
    }
  
    .about,
    .continue {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .about {
      #container-logo {
        font-size: 3em;
        
        color: var(--accent-color);
      }
  
      #description {
        width: 70%;
  
        font-size: 2em;
  
        color:var(--alt-text-color);
  
        text-align: center;
  
        margin-top: 20px;

        #open-source-anchor {
          text-decoration: none;

          color: var(--accent-color);

          transition: color 0.5s;

          &:visited {
            color: var(--accent-color);
          }

          &:hover,
          &:active {
            color: var(--accent-color-hover);
          }
        }
      }

      .fa-github {
        font-size: 3.5em;

        color: var(--alt-text-color);

        margin-top: 20px;
      }
    }

    .continue {
      #signup-label {
        width: 60%;
  
        text-align: center;
  
        color:var(--alt-text-color);
  
        font-size: 1.7em;
  
        b {
          width: 150%;
          height: 150%;
  
          background: var(--bold-bg-color);
          
          color: var(--accent-color);
  
          border-radius: 3px;
        }
      }
  
      #email-input-container {
        width: 60%;
        height: 50px;
  
        color: var(--text-color);
        background: none;
  
        border: 2px solid var(--shadow-color);
        border-radius: 7.5px;
  
        font-size: 1.7em;
  
        padding: 5px;
        margin-top: 10px;
  
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
  
        transition: border 0.5s;
  
        .fa-envelope {
          color: var(--shadow-color);
  
          width: 15%;

          display: flex;
          justify-content: center;
        }
  
        #signup-email {
          width: 85%;
          height: 75%;
          
          color: var(--text-color);
          
          border: none;
          outline: none;
  
          background: none;

          margin-right: 15px;
  
          font-family: 'SF Pro Display';
          font-size: 1em;
        }
      }
  
      #continue-to-signup-anchor {
        width: 60%;
        height: 50px;
  
        color: #fff;
        background: var(--accent-color);
  
        border-radius: 7.5px;
  
        font-size: 1.8em;
        font-family: 'SF Pro Display';
        font-weight: bold;
  
        text-decoration: none;
  
        margin-top: 10px;
  
        cursor: pointer;
  
        display: flex;
        align-items: center;
        justify-content: center;
  
        transition: background 0.5s;
  
        &:hover {
          background: var(--accent-color-hover);
        }

        .fa-chevron-right {
          margin-left: 10px;
        }
      }
  
      #already-have-an-account {
        margin-top: 10px;
  
        color: #525252;
  
        font-family: 'SF Pro Display';
        font-size: 1.5em;
  
        a {
          color: #525252;
  
          margin-left: 5px;
  
          transition: color 0.5s;
  
          &:visited {
            color: #525252;
          }
  
          &:hover,
          &:active {
            color: var(--accent-color-hover);
          }
        }
      }
    }
  }
}
  
@media screen and (max-width: 1440px) {
  #nav-container {
    width: 80% !important;
  }

  .column {
    width: 40% !important;
  }
}
  
@media screen and (max-width: 1024px) {
  #nav-container {
    width: 90% !important;
  }

  #container {
    height: 185vh !important;

    flex-direction: column !important;
  }

  .column.continue,
  .column.about {
    width: 90% !important;
    height: 92.5vh !important;
  }

  #signup-label,
  #email-input-container,
  #continue-to-signup-anchor {
    width: 50% !important;
  }
}

@media screen and(max-width: 512px) {
  #description {
    width: 100% !important;
  }

  #signup-label,
  #email-input-container,
  #continue-to-signup-anchor {
    width: 90% !important;
  }
}