@import '../global/global';
@import 'nav';

#container {
  width: 100%;
  height: 92.5vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .column {
    width: 30%;
    height: 100%;
  }

  .about,
  .continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .about {
    #container-logo {
      font-size: 3em;
      
      color: #04d361;
    }

    #description {
      width: 70%;

      font-size: 2em;

      color: #1d1c1c;

      text-align: center;

      margin-top: 20px;
    }
  }

  .continue {
    #signup-label {
      width: 40%;

      text-align: center;

      color: #1d1c1c;

      font-size: 1.7em;

      b {
        width: 150%;
        height: 150%;

        background: #d6ffe8;
        
        color: #04d361;

        border-radius: 3px;
      }
    }

    #email-input-container {
      width: 60%;
      height: 50px;

      color: #000;
      background: none;

      border: 2px solid #0004;
      border-radius: 7.5px;

      font-size: 18px;

      padding: 5px;
      margin-top: 10px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      transition: border 0.5s;

      .fa-envelope {
        color: #0006;

        margin-left: 15px;
      }

      #signup-email {
        width: 80%;
        height: 75%;
        
        color: #000;
        
        border: none;
        outline: none;

        background: none;

        margin-left: 15px;
        margin-right: 15px;

        font-family: 'SF Pro Display';
        font-size: 16px;
      }
    }

    #continue-to-signup-anchor {
      width: 60%;
      height: 50px;

      color: #fff;
      background: #04d361;

      border-radius: 7.5px;

      font-size: 1.8em;
      font-family: 'SF Pro Display';
      font-weight: bold;

      text-decoration: none;

      margin-top: 10px;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      transition: background 0.5s;

      &:hover {
        background: #66e682;
      }
      .fa-chevron-right {
        margin-left: 10px;
      }
    }

    #already-have-an-account {
      margin-top: 10px;

      color: #525252;

      font-family: 'SF Pro Display';
      font-size: 1.5em;

      a {
        color: #525252;

        margin-left: 5px;

        transition: color 0.5s;

        &:visited {
          color: #0004;
        }

        &:hover,
        &:active {
          color: #66e682;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  #nav-container {
    width: 80% !important;
  }

  .column {
    width: 40% !important;
  }
}

@media screen and (max-width: 1024px) {
  #nav-container {
    width: 90% !important;
  }

  #container {
    height: 185vh;

    flex-direction: column !important;
  }

  .column {
    width: 90% !important;
    height: 92.5vh !important;
  }
}
