.card-modal {
  width: 100%;
  height: 100%;

  background-color: rgba(0,0,0,0.7);

  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
  
  
  .modal-content {
    width: 50%;
    height: 70%;
    
    background-color: var(--bg-color);
    
    border-radius: .5rem;
    
    padding: 3rem 4rem 1rem 4rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    #close {
      width: 100%;
      text-align: right;

      .close-modal {

        border: none;
        background: none;
    
        color: var(--app-bg-color);
        font-size: 2rem;
    
        cursor: pointer;
    
        transition: color 1s;
    
        &:hover,
        &:focus {
          color: #c84444c7; 
        }
      }
    }
    
    section.header {
      width: 100%;
      
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      h1 {
        color: var(--text-color);
        font-weight: bold;
        font-size: 4rem;
      }
      
    }

    section.status {
      width: 100%;
      margin: 1.5rem 0 1rem 0;

      font-size: 1.5rem;
      color: #8A8A8A;

      div {
        display: flex;
        flex-direction: row;

        margin-bottom: .5rem;

        i,
        p {
          margin-right: .5rem;
        }

        &.create-field {
        }

        &.status-field {

        }

        &.people-field {
          display: flex;
          align-items: center;

          img {
            width: 2.5rem;

            margin-right: .3rem;

            border-radius: 50%;
          }

          button#add-user {
            font-weight: bold;
            font-family: 'SF Pro Display';

            background: none;
            border: none;

            cursor: pointer;
          }
        }
      }
    }

    .new {
      width: 100%;
      text-align: right;

      #new-bill {
        font-weight: bold;
        color: var(--text-color);

        background: none;
        border: none;

        font-family: 'SF Pro Display';

        cursor: pointer;
      }
    }

    section.content {
      width: 100%;

      #data-table {
        width: 100%;
        border-spacing: 0 0.5rem;
        color: var(--bg-color);
        
        img {
          border-radius: 50%;
          width: 4.5rem;
        }

        thead {
          tr th {
            color: #8A8A8A;
            font-size: 1.5rem;
            text-align: left;

            padding: .5rem;
          }
        }

        tbody {
          color: var(--text-color);
          
          tr {
            padding: .5rem 1rem;

            border-radius: .5rem ;
            transition: box-shadow 0.5s;
            
            &:hover, 
            &:focus {
              box-shadow: .5rem .5rem 1rem #6e6e6e;
            }

            
            td {
              font-size: 1.5rem;
              padding: 1rem;

              &.lend {
                color: var(--accent-color);
              }

              &.user {
                display: flex;
                flex-direction: row;
                align-items: center;

                p {
                  margin-left: .5rem;
                  font-weight: bold ;
                }
              }

              &.had-to-pay {
                img {
                  width: 4rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

