<!DOCTYPE html>
<html lang="pt-br">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PóPaga</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/home.css">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/d67355562c.js" crossorigin="anonymous"></script>

  <!-- Favicon -->
  <link rel="icon" /></head>
<body>
  <nav id="home-navbar">
    <div id="nav-container">
      <a id="nav-logo" href="/">PóPaga <i class="fas fa-piggy-bank"></i></a>
      <div id="nav-content-container">
        <i id="light" class="fas fa-sun"></i>
        <i id="dark" class="fas fa-moon"></i>
        <a href="/signup" id="nav-signup-anchor">Sign Up</a>
        <a href="/login" id="nav-login-anchor">Login</a>
      </div>
    </div>
  </nav>
  <div id="container">
    <div class="column about">
      <h2 id="container-logo">PóPaga <i class="fas fa-piggy-bank"></i></h2>
      <h2 id="description">A plataforma <a id="open-source-anchor" href="https://opensource.org/history" target="_blank" rel="noreferrer">open source</a> de gerenciamento de pagamentos a amigos que você precisava.</h2>
      <a id="github-anchor" href="https://github.com/obielwb/popaga" target="_blank" rel="noreferrer"><i class="fab fa-github"></i></a>
    </div>
    <div class="column continue">
      <h2 id="signup-label">Insira um  <b>email válido</b>  para continuar:</h2>
      <div id="email-input-container">
        <i class="far fa-envelope"></i>
        <input id="signup-email" type="text" autocomplete="off" placeholder="Email" name="email"/>
      </div>
      <a id="continue-to-signup-anchor" href="/signup">Continuar <i class="fas fa-chevron-right"></i></a>
      <p id="already-have-an-account">Já tem uma conta?<a href="/login">Faça login!</a></p>
    </div>
  </div>
  <script src="/scripts/home.js"></script>
  <script src="/scripts/theme.js"></script>
</body>
</html>