<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>P처Paga</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css" />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/d67355562c.js"
      crossorigin="anonymous"
    ></script>

    <!-- Favicon -->
    <link rel="icon" />
  </head>
  <body>
    <nav id="navbar" style="display: none">
      <div id="nav-container">
        <a id="nav-logo" href="/">P처Paga <i class="fas fa-piggy-bank"></i></a>
        <div id="nav-content-container">
          <i id="light" class="fas fa-sun" data-theme="light"></i>
          <i id="dark" class="fas fa-moon" data-theme="dark"></i>
          <a href="/signup" id="nav-signup-anchor">Sign Up</a>
        </div>
      </div>
    </nav>
    <div id="container">
      <div id="top" class="circle"></div>
      <div id="card">
        <div id="login-container">
          <div id="warning"></div>
          <a id="logo" href="/">P처Paga <i class="fas fa-piggy-bank"></i></a>
          <form id="login-form">
            <p class="input-label">Email</p>
            <div class="text-input-container">
              <i class="far fa-envelope"></i>
              <div class="separator"></div>
              <input
                id="login-email"
                type="email"
                autocomplete="off"
                placeholder="example@example.com"
                name="email"
                required
              />
            </div>
            <p class="input-label">Senha</p>
            <div class="text-input-container">
              <i class="fas fa-key"></i>
              <div class="separator"></div>
              <input
                id="login-password"
                type="password"
                autocomplete="off"
                placeholder="******"
                name="password"
                required
              />
            </div>
            <button id="login-submit" class="button" type="submit">
              Login <i class="fas fa-sign-in-alt"></i>
            </button>
          </form>
          <p id="dont-have-an-account-yet">
            Ainda n찾o tem uma conta?<a href="/signup">Sign Up!</a>
          </p>
          <div id="or">
            <div class="or-line"></div>
            <p>ou</p>
            <div class="or-line"></div>
          </div>
          <div id="or-options">
            <button class="option">
              <img src="/icons/google.svg" />
            </button>
            <button class="option">
              <img src="/icons/facebook.svg" />
            </button>
            <button class="option">
              <img src="/icons/twitter.svg" />
            </button>
          </div>
        </div>
      </div>
      <div id="bottom" class="circle"></div>
    </div>
    <script src="/scripts/login.js"></script>
    <script src="/scripts/theme.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
