<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PóPaga</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/signup.css" />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/d67355562c.js"
      crossorigin="anonymous"
    ></script>

    <!-- Favicon -->
    <link rel="icon" />
  </head>
  <body>
    <nav id="navbar" style="display: none">
      <div id="nav-container">
        <a id="nav-logo" href="/">PóPaga <i class="fas fa-piggy-bank"></i></a>
        <div id="nav-content-container">
          <i id="light" class="fas fa-sun" data-theme="light"></i>
          <i id="dark" class="fas fa-moon" data-theme="dark"></i>
          <a href="/login" id="nav-login-anchor">Login</a>
        </div>
      </div>
    </nav>
    <main id="container">
      <div id="top" class="circle"></div>
      <div id="card">
        <div id="signup-container">
          <div id="warning"></div>
          <a id="logo" href="/">PóPaga <i class="fas fa-piggy-bank"></i></a>
          <div id="signup">
            <form id="standard-signup">
              <p class="input-label">Username</p>
              <div class="text-input-container">
                <i class="fas fa-user-circle"></i>
                <div class="separator"></div>
                <input
                  id="signup-username"
                  type="text"
                  autocomplete="off"
                  placeholder="Username"
                  name="username"
                  required
                />
              </div>
              <p class="input-label">Email</p>
              <div class="text-input-container">
                <i class="far fa-envelope"></i>
                <div class="separator"></div>
                <input
                  id="signup-email"
                  type="email"
                  autocomplete="off"
                  placeholder="Email"
                  value="<%- email %>"
                  name="email"
                  required
                />
              </div>
              <p class="input-label">Senha</p>
              <div class="text-input-container">
                <i class="fas fa-key"></i>
                <div class="separator"></div>
                <input
                  id="signup-password"
                  type="password"
                  autocomplete="off"
                  placeholder="Senha"
                  name="password"
                  required
                />
              </div>
              <div id="avatar-related-container">
                <div id="file-input-container">
                  <input id="avatar-filename" type="hidden" name="avatar" />
                  <input
                    id="avatar-file-input"
                    type="file"
                    accept="image/png, image/jpg, image/jpeg, image/bmp"
                  />
                  <i class="fas fa-folder-plus"></i>
                </div>
                <div id="avatar-preview-container">
                  <img id="avatar-preview" />
                  <button id="dismiss-avatar-button">&times;</button>
                </div>
                <p id="avatar-label">Selecione um avatar!</p>
                <span id="avatar-file-name"></span>
              </div>
              <button id="signup-submit" type="submit">
                Sign Up <i class="fas fa-sign-in-alt"></i>
              </button>
            </form>
            <div id="or">
              <div class="or-line"></div>
              <p>ou</p>
              <div class="or-line"></div>
            </div>
            <div id="social-media-signup">
              <button class="option">
                <p class="option-label">Continue com Google</p>
                <div class="separator"></div>
                <img src="/icons/google.svg" />
              </button>
              <button class="option">
                <p class="option-label">Continue com Facebook</p>
                <div class="separator"></div>
                <img src="/icons/facebook.svg" />
              </button>
              <button class="option">
                <p class="option-label">Continue com Apple</p>
                <div class="separator"></div>
                <img id="apple" />
              </button>
            </div>
          </div>
          <p id="already-have-an-account">
            Já tem uma conta?<a href="/login">Faça login!</a>
          </p>
        </div>
      </div>
      <div id="bottom" class="circle"></div>
    </main>
    <script src="/scripts/signup.js"></script>
    <script src="/scripts/theme.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
