<div class="cards-container" >
  <div class="card">
    <div class="card-header">
      <div class="status "></div>
    </div>

    <div class="card-content">
      <section class="top">
        <p>
          Jantar de Domingo
        </p>
      </section>

      <section class="bottom">
        <p>
          15 de nov de 2021
        </p>
      </section>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <div class="status "></div>
    </div>

    <div class="card-content">
      <section class="top">
        <p>
          Jantar de Domingo
        </p>
      </section>

      <section class="bottom">
        <p>
        </p>
      </section>
    </div>
  </div>
</div>