<div class="cards-container" id>
  <% if (cards != null) {
    <% cards.filter((card) => {
      <% if (card.status == this.parentElement.className) {
        <div class="card">
          <div class="card-header">
            <div class="status <% card.status %>"></div>
          </div>

          <div class="card-content">
            <section class="top">
              <p>
                <%- card.title %>
              </p>
            </section>

            <section class="bottom">
              <p>
                <%- card.date %>
              </p>
              <% for (int i = 0; i <= cards.users; i++) {
                <div class="user">
                  <!-- get the users image and nick-->
                </div>
              } %>  
            </section>
          </div>
        </div>
      } %>
    }) %> 
  } %> 
</div>